<main>
    <h2>Découvrer toutes nos offres</h2>
    <section class="offres">
        <div class="card">
            <div class="haut">
                <div class="left">
                    <h3>Offre Classique</h3>
                    <span>Votre formule à la carte</span>
                </div>
                <div class="right">
                    <div>A partir de</div>
                    <span class="price">15€</span><span>/mois</span> 
                </div>
            </div>
            <hr>
            <div class="bas">
                <div class="inclus">
                    <ul>
                        <li>
                            <div><i class="fas fa-check"></i> Accès aux heures creuses</div>
                            <span>Lun au vend, le matin jusqu'à 12h et de 14h à 17h</span>
                        </li>
                    </ul>
                </div>
                <div class="options">
                    <ul>
                        <li>
                            <div class="left">
                                <div>Extension horaire</div>
                                <span>A toutes les heures d'ouverture</span>
                            </div>
                            <div class="right">
                                <p>+12€<span>/mois</span></p>
                            </div>
                        </li>
                        <li>
                            <div class="left">
                                <div>Groupe Trainings</div>
                                <span>Cours collectifs avec coachs</span>
                            </div>
                            <div class="right">
                                <p>+12€<span>/mois</span></p>
                            </div>
                        </li>
                        <li>
                            <div class="left">
                                <div>Douches</div>
                                <span>Douches individuelles</span>
                            </div>
                            <div class="right">
                                <p>+3€<span>/mois</span></p>
                            </div>
                        </li>
                        <li>
                            <div class="left">
                                <div>PowerDrink</div>
                                <span>Boissons sportive 100% vitaminée</span>
                            </div>
                            <div class="right">
                                <p>+7€<span>/mois</span></p>
                            </div>
                        </li>
                        <li>
                            <div class="left">
                                <div>Serviettes</div>
                                <span>Prêt d'une serviette à chaque séance</span>
                            </div>
                            <div class="right">
                                <p>+5€<span>/mois</span></p>
                            </div>
                        </li>
                        <li>
                            <div class="left">
                                <div>Duo Pass</div>
                                <span>Accès pour 1 ami à chaque séance</span>
                            </div>
                            <div class="right">
                                <p>+10€<span>/mois</span></p>
                            </div>
                        </li>
                    </ul>
                </div>
               
            </div>
        </div>
        <div class="card">
            <div class="haut">
                <div class="left">
                    <h3>Offre Classique</h3>
                    <span>Votre formule à la carte</span>
                </div>
                <div class="right">
                    <div>A partir de</div>
                    <span class="price">30€</span><span>/mois</span> 
                </div>
            </div>
            <hr>
            <div class="bas">
                <div class="inclus">
                    <ul>
                        <li>
                            <div><i class="fas fa-check"></i> Accès aux heures creuses</div>
                            <span>Lun au vend, le matin jusqu'à 12h et de 14h à 17h</span>
                        </li>
                        <li>
                            <div><i class="fas fa-check"></i> Extension horaire</div>
                            <span>A toutes les heures d'ouverture</span>
                        </li>
                        <li>
                            <div><i class="fas fa-check"></i> Groupe Trainings</div>
                            <span>Cours collectifs avec coachs</span>
                        </li>
                        <li>
                            <div><i class="fas fa-check"></i> Douches</div>
                            <span>Douches individuelles</span>
                        </li>
                    </ul>
                </div>
                <div class="options">
                    <ul>
                        <li>
                            <div class="left">
                                <div>PowerDrink</div>
                                <span>Boissons sportive 100% vitaminée</span>
                            </div>
                            <div class="right">
                                <p>+7€<span>/mois</span></p>
                            </div>
                        </li>
                        <li>
                            <div class="left">
                                <div>Serviettes</div>
                                <span>Prêt d'une serviette à chaque séance</span>
                            </div>
                            <div class="right">
                                <p>+5€<span>/mois</span></p>
                            </div>
                        </li>
                        <li>
                            <div class="left">
                                <div>Duo Pass</div>
                                <span>Accès pour 1 ami à chaque séance</span>
                            </div>
                            <div class="right">
                                <p>+10€<span>/mois</span></p>
                            </div>
                        </li>
                    </ul>
                </div>
               
            </div>
        </div>
        <div class="card">
            <div class="haut">
                <div class="left">
                    <h3>Offre Premium</h3>
                    <span>Votre formule à la carte</span>
                </div>
                <div class="right">
                    <p class="price">49€ <span>/mois</span> </p>
                </div>
            </div>
            <hr>
            <div class="bas">
                <div class="inclus">
                    <ul>
                        <li>
                            <div><i class="fas fa-check"></i> Accès aux heures creuses</div>
                            <span>Lun au vend, le matin jusqu'à 12h et de 14h à 17h</span>
                        </li>
                        <li>
                            <div><i class="fas fa-check"></i> Extension horaire</div>
                            <span>A toutes les heures d'ouverture</span>
                        </li>
                        <li>
                            <div><i class="fas fa-check"></i> Groupe Trainings </div>
                            <span>Cours collectifs avec coachs</span>
                        </li>
                        <li>
                            <div><i class="fas fa-check"></i> Douches </div>
                            <span>Douches individuelles</span>
                        </li>
                        <li>
                            <div><i class="fas fa-check"></i> PowerDrink</div>
                            <span>Boissons sportive 100% vitaminée</span>
                        </li>
                        <li>
                            <div><i class="fas fa-check"></i> Serviettes</div>
                            <span>Prêt d'une serviette à chaque séance</span>
                        </li>
                        <li>
                            <div><i class="fas fa-check"></i> Duo Pass</div>
                            <span>Accès pour 1 ami à chaque séance</span>
                        </li>
                    </ul>
                </div>
               
            </div>
        </div>
        
    </section>
    <div class="remarque">* Offres disponibles uniquement en club</div>
</main>
