<footer class="mt-5">
    <div class="hautFooter row">
        <div class="logoFooter col-sm-12 col-md-3 mb-4">LOGO</div>
        <div class="liensFooter col-sm-12 col-md-6 mb-4">
            <a routerLink="/contact">Contact</a> |
            <a routerLink="/presentation">Qui sommes-nous?</a> | 
            <a routerLink="posts">Blog</a> |
            <a routerLink="/plan-site">Plan du site</a> |
            <a routerLink="/offres">Nos offres</a> |
            <a routerLink="">CGU</a> |
            <a routerLink="">Mentions Légales</a>
            
        </div>
        <div class="reseaux-sociaux col-sm-12 col-md-3 mb-4">
            <h6>Suivez-nous</h6>
            <a class="fab fa-facebook-f" href="https://fr-fr.facebook.com"></a>
            <a class="fab fa-instagram" href="https://www.instagram.com"></a>
            <a class="fab fa-pinterest-p" href="https://www.pinterest.fr/"></a>
        </div>
    </div>
    <div class="copyRight">&copy; 2020 Fatima-zohra ABID</div>
     
</footer>
