<main>
    <div class="photo1"><h2>Présentation</h2></div> 
    <section>
        <h3>Bienvenue à fit x</h3>
    <p>Avec {{nom}}, atteignez et dépassez vos objectifs !
        Du débutant amateur au sportif assidu,les cours collectifs vous sont proposés, des plus classiques aux plus innovants où convivialité et pluralité des disciplines permettent à chacun de progresser à son rythme.  
        {{nom}} vous propose plusieurs activités à travers des équipements haut de gamme,
        pour répondre à des objectifs bien précis :</p> 
        <ul>
            <li>Le cardio-training, pour entretenir et compléter une activité sportive.</li>
            <li>La musculation, pour renforcer sa musculature et redessiner son corps.</li>
            <li>Le fitness, pour optimiser sa silhouette et mincir en se faisant plaisir.</li>
            <li>Le yoga, pour se sentir bien dans son corps et dans sa tête.</li>
        </ul>
    </section>
    <section class="left">
        <article>
            <h4>DES ESPACES UNIQUES</h4>
           <p>Avec Fitness Park, améliore ta condition physique, tonifie ton corps et développe ta masse musculaire. Grâce à des espaces adaptés sur plus de 1000m², façonne tes entraînements à la perfection :</p>
            <ul>
                <li>L’espace musculation, avec un large choix de machines à poids libres ou guidées et haltères. Idéal pour le renforcement musculaire et la prise de muscle.</li>
                <li>L’espace cardio training, avec des appareils connectés dernière génération (tapis de course, rameur, vélos elliptiques, etc.). Parfait pour te remettre en forme, la perte de poids rapide et tonifier tes abdos.</li>
                <li>L’espace cross-training pour tes entraînements les plus intensifs. Afin de brûler des calories en un temps records ou pour une préparation physique complète.</li>
                <li>Les salles de cours coachés ou virtuels pour te surpasser en étant accompagné(e). Réalise tes cours de sport selon tes envies : circuit-training, stretching, pilates, cycling, boxing, HIIT.</li>
            </ul>
           <p>Nos 200 salles Fitness Park sont pensées et adaptées pour que tes entraînements soient diversifiés et complets ! Il ne te reste plus qu’à choisir ton club et t’inscrire en ligne!</p> 
        </article>
        <img src="assets/img/img28.jpg" alt="">
    </section>
    <section class="right">
        <article>
            <h4>ENTRAÎNEMENT EN ILLIMITÉ. 7J/7 - DE 6H À 23H</h4>
            <p>Accède à une salle de sport haut de gamme au meilleur rapport qualité/prix ! Avec son prix accessible, les clubs Fitness Park te permettent de t’entraîner efficacement, dans plus de 200 salles, à tout moment de la journée. Repousse tes limites dans les Fitness Park ouverts 24h/24!</p>   
            <p> En t’inscrivant dans un des clubs Fitness Park, tu profites d’un abonnement dans une salle de sport à seulement 29€95/Mois, soit moins de 1€ par jour !</p>  
             <p> En plus avec ta carte Fitness Park, tu as accès librement à l’ensemble de nos clubs, ouverts de 6h à 23h non-stop, 7J/7, 365 jours/an, pour t’entraîner, te dépasser, te surpasser, et réaliser tous tes objectifs sans contrainte. Utilise l’application MyFitnessPark (gratuite) pour compléter tes séances de sport avec de nombreux exercices et programmes d’entraînement.</p> 
        </article>
        <img src="assets/img/img5.jpg" alt="">
    </section>
    <section class="left">
        <article>
            <h4>DU MATÉRIEL DE QUALITÉ. POUR DES SÉANCES RÉUSSIES</h4>
            <p>Chez Fitness Park, tes entraînements sont notre priorité quel que soit ton niveau.</p>

            <p>Pour te permettre de te surpasser à chaque séance, nos clubs sont équipés de matériel et équipements sportifs de qualité dernière génération sur l’ensemble des espaces.</p>   
                
            <p>Nous proposons les meilleures solutions et produits du marché grâce à nos partenaires machines tels que Technogym ou Hammer Strenght, ainsi que nos partenaires fitness comme la boisson sportive Yanga Sports Water ou les cours créés par LesMills et Radical Fitness, pour que chacun de tes passages chez Fitness Park soit la meilleure expérience fitness qui soit.</p> 
        </article>
        <img src="assets/img/img27.jpg" alt="">
    </section>
    <section class="right">
        <article>
            <h4></h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque similique quod quam recusandae saepe inventore quis! Quae voluptate accusamus, blanditiis, voluptatibus nemo libero numquam sequi labore atque ipsa incidunt? Magni hic esse provident recusandae voluptas repellat voluptatem quia, omnis laborum accusamus error fugit quod quas eos tenetur tempore fuga sint.</p> 
        </article>
        <img src="assets/img/img31.jpg" alt="">
    </section>
    
    
    
    
</main>
