<main class="pt-5">
  <!-- <div class="textContact">Votre club x
    Au programme, un plateau cardio haut-de-gamme, des coachs sportifs spécialisés en danse et sports de combat, un espace poids libre dédié à la performance au sous-sol et tout le confort nécessaire à une bonne pratique du sport (douches et vestiaires individuels). Toute l'équipe est à votre disposition pour vous conseiller, vous aider à vous fixer des objectifs et à tout faire pour les atteindre ! </div> -->
    <h2>Contact</h2>
    <!-- <p>Rejoignez-nous </p> -->
    <section class="cartContact">
		<div class="right">
			<ul>
				<li><i class="fas fa-mobile-alt"></i><a href="tel:0666666666"> 06 66 66 66 66</a></li>
				<li><i class="fas fa-envelope"></i><a href="mailto:test@gmail.com"> test@gmail.com</a></li>
				<li><i class="fas fa-map-marker-alt"></i> 02 rue lorem 75003 Paris</li>
				<li>On est ouvert <span>7</span> jours sur <span>7</span></li>
				<li>Du lundi au vendredi : 07:00 / 22:00</li>
				<li>Samedi et Dimanche: 09:00 / 20:00</li>
			</ul>
		</div>
		<form method="" action="">
			<div class="form-group row">
				<div class="col-md-6">
					<label for="name">Nom</label>
					<input type="text" class="form-control" id="name">
				</div>
				<div class="col-md-6">
					<label for="phone">Télephone</label>
				<input type="text" class="form-control" id="phone" name="phone">
				</div>
				
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">Email</label>
				<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
			</div>
			<div class="form-group">
				<label for="message">Message</label>
				<input type="text" class="form-control" id="message">
			</div>
			<button type="submit" class="btn btn-dark">Envoyer</button>
		</form>
    </section>
    <h3> Accès</h3>
    <div class="transport">
        <p><i class="fas fa-train"></i></p>
        <p><i class="fas fa-bus"></i></p>
        <p><i class="fas fa-car"></i></p>
        <p><i class="fas fa-bicycle"></i></p>
        <p><i class="fas fa-parking"></i></p>
    </div>
    
    <div class="carte">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.6401922469686!2d2.2998897156746234!3d48.865071179288186!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66fdd0dd39a4d%3A0x508194b82b12f012!2s1+Avenue+Montaigne%2C+75008+Paris!5e0!3m2!1sfr!2sfr!4v1548099198696" width="300" height="225" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</main>
