main{
    // width: 80%;
    // margin: auto;
    text-align: center;
}
img{
   max-width: 300px;
}
section.haut a{
    font-size: 18px;
    margin-top: 50px;
    margin-left: 15px;
    // border:1px solid;
    border-radius: 50%;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    color:yellowgreen
}
section.haut a:hover{
 background-color: yellowgreen;
    color:white;
}
section.haut{
    padding: 40px 0;
    background-color: yellowgreen;
}
section.bas{
    width: 80%;
    text-align: left;
    max-width: 700px;
    margin: 50px auto;
}
// Mobile
@media screen and (max-width:760px){
   
}
// desktop
@media screen and (min-width:760px){
    section.haut{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
}