<main *ngIf="coach">
    <section class="haut">
        <img src="assets/img/img14.jpg" alt="">
        <div class="titre">
            <h2>name{{coach.name}}</h2>
            <span class="text-info">{{coach.job}}</span>
            <div class="reseaux">
                <a class="fab fa-facebook-f" href="https://fr-fr.facebook.com"></a>
                <a class="fab fa-instagram" href="https://www.instagram.com"></a>
                <a class="fab fa-pinterest-p" href="https://www.pinterest.fr/"></a>
            </div>
        </div>
    </section>
    <section class="bas">
        <h3>A propos</h3>
        <p>{{coach.about}}</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores, eos.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A doloribus quod ratione non, id odit consequuntur perspiciatis? Nulla atque architecto eaque animi, delectus ipsa impedit tempore omnis distinctio voluptatibus molestias dolor eum tempora error. Libero, unde voluptatum ipsa quia tempora quae nesciunt excepturi saepe quibusdam culpa, distinctio nihisdam eligendi quod consequatur esse autem. Excepturi saepe eius consequatur ullam veniam quidem atque cum omnis aut facere?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores, eos.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores, eos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis corporis molestias alias sequi cum ipsum exercitationem aperiam, qui perferendis porro, maxime atque dicta dolore nam voluptatibus natus! Fuga voluptates eum illo deleniti. Dolores ab repellendus aspernatur eos ad minus consectetur ratione, aut ipsum nesciunt. At error provident enim corporis iure natus, aliquid nemo inventore dicta? Error dolorum asperiores ipsa magnam, quaerat saepe earum nesciunt debitis laborum eveniet delectus ut porro maiores quos, numquam officiis pariatur deserunt! Nulla neque illum quas possimus at, dolore perferendis ullam placeat cum in nesciunt quidem aspernatur non? Neque fugiat ducimus doloremque dolorum temporibus numquam excepturi. </p>
    </section>
</main>
