<div id="home">
   
    <div class="photo1"></div> 
    <section class="presentation">
        <article>
            <h2>Bienvenue sur Gym</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa quibusdam at ratione perspiciatis ad, eligendi doloribus consequatur temporibus, dolore vitae rerum illo optio cum cumque vel voluptatem sella expedita ab saepe perferendis placeat praesentium esse distinctio iste, ut quaerat harquasi.</p>
            <a routerLink="/presentation" class="btn btn-info">En savoir plus</a>
        </article>
        <figure class="photoBorder">
            <img class="photo2" src="assets/img/img5.jpg" alt="">
            <div></div>
        </figure>
    </section>
    <app-coach></app-coach>
    <p class="mt-4 col-sm-10 col-md-8 mx-auto">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur neque facere, fugiat, exercitationem fuga quae harum voluptatum quos odit a corporis repellendus obcaecati eius debitis dolore delectus aspernatur sed? Assumenda delectus odio perspiciatis quaerat quod ducimus autem, hic saepe facere ipsam? Reprehenderit temporibus quas impedit. Facere consectetur fuga natus dolorem provident animi quis officia, ipsum fugit deserunt recusandae odit sunt, aperiam repudiandae. Quaerat ipsum alias quia dignissimos ullam amet error sapiente nihil iusto quos facere, laborum odit aspernatur ad quasi tempore fuga impedit veniam corporis! Nobis asperiores delectus reprehenderit consectetur debitis quod non itaque, temporibus necessitatibus odio amet quasi ad!</p>
</div>

